# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.xccheckout
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
